 :root{
    --purple500: #8f0404;
    --purple300: #6f0606;
    --purple600:rgb(88, 0, 13);
    --red600: #220996;
    --body:  #f9f6ff;
    --max-width:1200px; 

 }
 *{
    margin:0;
    padding:0 ;
    box-sizing: border-box;
 }
html,body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.4;
   scroll-behavior: smooth;  
   /* scroll behaviour se smoothly scroll hoga overvew , about kisi pe v click krne se */

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    max-width: 1200px;
    margin:0 auto;
}

header{
    background-color: var(--purple300);
    position:sticky ; /*ye nav bar ko stikcky banane k liye use kiya ja rha h*/
    top:0;/*isse nav bar top se 0 space pe rahega or scroll krne pe hilega nahi*/
    z-index: 100;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); /*header yani blue nav ko shadow dene k liye lagaya ja rha */
    
}
nav {
    display: flex;
    justify-content:space-between;
    align-items:center;
    color: white;
    padding: 20px 0 ;
}
.logo{
    font-size: 32px;
    font-weight: 600;
}
button{
    padding: 10px 15px ;
    border:none;
    transition: 0.2s ease-in-out;
    
}
button:hover{
    transition: 0.2s ease-in-out;
    opacity: 0.8;
}

nav ul{
    display: flex;
    gap:20px;
}
nav ul li {
    border-bottom: 2px solid transparent;
     transition: 0.2s ease-in; /*while line slowlly aayega */
}
nav ul li:hover {
    border-bottom: 2px solid white;
    transition: 0.2s ease-in;
}
.hero-section {
    background-image: url(Images/hero.jpg);
    height: 100vh;
    display: grid;
    color:white;
    place-items: center;
    text-align: center;
}

.hero-section .container{
    display: flex;  /* iske help se p tag h1 h3 k bich space aaya */
    flex-direction: column;
    gap:30px;
}
.hero-section h1{
    font-size: 96px;
}
.hero-section h3{
    font-size: 32px;
}
.music-section{
    padding-top: 50px;
    background: var(--purple500);
}
.music-section .container{
    display: flex;
    flex-direction: column; /*sare new line k text or button ko alg alg rows me la dega*/
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: white;

}
.ipad-iphone-img{
    margin-top: -400px;
    position: relative;
    top: 400px;
    
}
.primary-btn{
    background-color: var(--red600);
    color:white;

}
.secondary-btn{
    background-color:#8f0404;
    color:white;
}

.about-music{
    padding-top: 500px;
    display: grid;
    place-items: center;
    gap:50px;
    text-align: center;
    margin-bottom: 50px;
}
.video-section{
   background-image: url(Images/music\ videop.jpg);   
   min-height: 800px;
   display: grid;
   place-items: center;
   color: white;
   text-align: center;
   
}
.video-section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -200px;
}

.hero-section,.video-section{
    /*taki zoom out krne pe ek hi img rhe uske 4-5 part n bne*/
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gift-section {
    display: flex;
    justify-content: center;
    margin:8px ;
}
.gift-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-upper{
    background-color:var(--purple300);
    padding: 20px;
    margin-top: 50px;
}
.footer-upper .container{
    display: flex;
    color:white;
    justify-content: space-between;
}
.footer-upper h4{
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}
.footer-lower{
    background-color: #8f0404;
    padding: 20px;
    display: flex;
    justify-content:center;
    color: white;
}
