
*{
    padding:0;
    margin:0;
    box-sizing:border-box;

}

html,body{
    line-height: 1.4;     
    font-weight: 300;    
    /* press control + back slash for comment */

}
button{
    padding:10px 15px ;
    border:none;
    transition: 0.2s ease-in-out;
}
button:hover{
    opacity:0.8;
    transition: 0.2s ease-in-out;

}
/* Navigation */
 nav{
    box-shadow: 5px 5px 5px rgba(24, 3, 3, 0.05);
    position:sticky;
    top:0;
    margin-bottom: 32px;
    background: white;
    padding:10px;
 }
.navigation{

    display:flex;
    justify-content: space-between;
    align-items: center;

    
}

.container{
    max-width:1200px;
    margin: 0 auto;
}
.bar_icon{

    font-size: 32px;

}
/* hero section */

.hero{
display: flex;
gap:100px;
justify-content: center;
align-items: center;
gap:20px;

}
.hero_content{
    display: flex;
    flex-direction: column;
}
.tag{
    background-color: rgb(42, 98, 56);
    padding: 5px 10px;
    color:white;
    align-self:flex-start ;
}
.hero_content h1{

     font-size:72px;
     line-height: 1.2 ;
     font-weight: 400;
}
.explore_btn{
    background-color: #ffc066;
    align-self: flex-start;

}


.features{
    margin-top: 100px;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
    
}
.feature{
    display:flex;
    gap: 20px;
    padding:20px;
    transition:0.2s ease-in-out ;
}


.feature:hover{
     transition:0.2s ease-in-out ;
     box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.05);
}

.divider{
     border:1px solid #ccc;
     margin:20px 0;

}
/* menu section  */

.menu{
    display: flex;
    flex-direction: column;
    gap:50px ;
    margin: 50px 0;
    align-items: center;
}

.menu .tag{
align-self: center;

}
.tag,a{ 
    text-decoration: none;
    color:rgb(15, 15, 15);
}

.grid{
     display: grid;
     gap: 10px;
     grid-template-areas: "I1 I1 I2 I3 "
                          "I1 I1 I2 I7 "
                          "I4 I5 I6 I7 "   ;


}

.item1{
    grid-template-areas: I1;
}
.item2{
    grid-template-areas: I2;
}

.item3{
    grid-template-areas: I3;
}

.item4{
    grid-template-areas: I4;
}

.item5{
    grid-template-areas: I5;
}

.item6{
    grid-template-areas: I6;
}

.item7{
    grid-template-areas: I7;
}



/* Footer Section */

footer {
    background-color: #fff0db;
  }
  .link_lists h3 {
    margin-bottom: 10px;
    color: gray;
  }
  .link_lists ul {
    list-style: none;
  }
  .link_lists ul li {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .news_letter h3 {
    margin-bottom: 10px;
    color: gray;
  }
  .news_letter input {
    padding: 5px 40px;
    margin-bottom: 10px;
  }
  .footer_container {
    padding: 30px;
    display: flex;
    justify-content: space-between;
  }
  .icon_container {
    display: flex;
    gap: 15px;
    font-size: 32px;
  }
  
/*css for login*/
.login{
    border:1px solid red;
    width:30px;
}

@media(max-width:786px){
    .hero{
        flex-direction: column;
    }
    .hero_image img{
        display: flex;
        justify-content: center;
    }
    .hero_image img{
        width:90%;   
    }
    .hero_content{
        gap:10px;
        padding:10px;
    }
    .hero_content h1{
        font-size: 32px;
        line-height: 1.2;
    }
    .features{
        flex-direction: column;
    }
    .feature {
        flex-direction: column; 
    }

    .grid{
        padding:10px
    }
    .grid-image{
        border-radius: 0px;
    }
}



